<% field_key = model.ransackable_scopes.include?(field) ? field : "#{field}_eq" %>

<div class="row mb-3">
  <%= form.label(label, class: 'ps-0 form-label') %>
  <%= form.select(field_key, type.options[:collection] || [], { include_blank: true }, { class: 'form-control form-control-sm' }) %>
</div>