<% field_key = model.ransackable_scopes.include?(field) ? field : "#{field}_eq" %>
<% values = [[t('administrate_ransack.filters.no'), false], [t('administrate_ransack.filters.yes'), true]] %>

<div class="row mb-3">
  <%= form.label(label, class: 'pe-0 form-label') %>
  <%= form.select(field_key, values, { include_blank: true }, { class: 'form-control form-control-sm' }) %>
</div>